.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
		justify-content:center;
	}
	header#mastheader, main#primary, footer#colophon {
		background-color: $color__background-body;
		padding: 0 30px;
		width: 1024px;
	}
	header {
		grid-area: header;
	}
	main {
		grid-area: main;
	}
	footer {
		grid-area: footer;
	}
}
